<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Firebase Cloud Messaging Credentials-->
    <add key="FirebaseServerKey" value="firebaseServerKey"/>
    <add key="FirebaseSenderID" value="firebaseSenderId"/>
    <add key="FirebaseConnectionEndpoint" value="https://fcm.googleapis.com/fcm/send"/>
  </appSettings>
</configuration>